/*paleta de colores*/
/*reset*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

/*body*/
body {
  background-color: #F2D6EB; }

/*grid telefono*/
.contenedor {
  display: grid;
  min-height: 100vh;
  grid-template-areas: "header header" "main main" "section section" "footer footer"; }
  .contenedor header {
    grid-area: header; }
  .contenedor main {
    grid-area: main; }
  .contenedor section {
    grid-area: section; }
  .contenedor footer {
    grid-area: footer; }

/*paleta de colores*/
/*headers*/
header {
  display: grid;
  grid-area: header;
  width: 100%;
  height: 60%; }
  header .fondo-color {
    background-color: #470938; }
  header .contenedor-header .logo-granlector {
    width: 70%;
    margin-left: 0.5rem; }
    header .contenedor-header .logo-granlector img {
      max-width: 4.5rem;
      max-height: 4.5rem; }

/*margin general*/
.main-lector, .manwha, .audio-libro, .staff, .registrar, .eventos, .dudas-frecuentes {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem; }

/*main Gran lector*/
.main-lector .img-nosotros {
  display: flex;
  justify-content: end; }
  .main-lector .img-nosotros img {
    border-radius: 10rem;
    max-width: 60%; }

/*main manwha*/
.manwha .manwha-card {
  max-height: 80%; }
  .manwha .manwha-card .manwha-img {
    height: 100%; }

/*main audiolibro*/
.audio-libro .audiolibros-img img {
  height: 100%; }

/*Main dudas*/
.staff {
  text-align: center; }
  .staff div img {
    max-height: 60%;
    max-width: 40%;
    border-radius: 10rem; }

/*Main Register*/
.registrar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .registrar form fieldset {
    width: 100%;
    height: 100%;
    background-color: white; }
    .registrar form fieldset div {
      margin-top: 10px;
      margin-bottom: 10px; }

/*margin general*/
.main-lector, .manwha, .audio-libro, .staff, .registrar, .eventos, .dudas-frecuentes {
  margin-top: 2rem;
  margin-bottom: 2rem;
  margin-left: 2rem; }

/*section*/
.eventos .img-eventos {
  display: flex;
  justify-content: end; }
  .eventos .img-eventos img {
    border-radius: 6rem; }

/*section dudas*/
.dudas-frecuentes .mas-dudas div {
  display: flex;
  justify-content: left; }
  .dudas-frecuentes .mas-dudas div img {
    max-height: 80%;
    max-width: 80%; }

/* anuncios*/
.anuncio-dos {
  display: none;
  grid-area: anuncio-dos; }

.anuncio-uno {
  grid-area: anuncio-uno;
  display: none; }

/*paleta de colores*/
/*footer*/
footer {
  grid-area: footer;
  margin-top: auto;
  display: inline-block; }
  footer nav {
    background-color: #470938; }
    footer nav .contenedor-footer .derechos {
      color: #5C94BD;
      font-size: small;
      max-width: 80%; }
    footer nav .contenedor-footer .logos-sociales img:last-child {
      max-width: 4.54vh;
      max-height: 4.54vh; }

/*mediaquearie*/
@media (max-width: 2000px) and (min-width: 650px) {
  .contenedor {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas: "header header header header header" "main main main main anuncio-dos" "anuncio-uno section section section section" "footer footer footer footer footer"; }
  /*secciones*/
  header nav .logo-granlector img {
    max-width: 5rem;
    max-height: 5rem; }
  /*mains*/
  main {
    grid-area: main; }
  .img-nosotros img {
    display: none; }
  /*sections*/
  section {
    grid-area: section; }
    section p {
      overflow: auto; }
  /*footer*/
  footer {
    grid-area: footer; }
    footer nav .contenedor-footer .derechos {
      color: #5C94BD;
      font-size: larger;
      max-width: 80%; }
  /*anuncios grid*/
  .anuncio-uno {
    display: grid;
    margin: 2rem;
    grid-area: anuncio-uno;
    height: 50%; }
  .anuncio-dos {
    margin: 2rem;
    display: grid;
    grid-area: anuncio-dos; } }

/*links css*/
a:visited {
  color: #5C94BD; }
