//imports utilities
@import "utilities/listas";

/*footer*/
footer{
    grid-area: footer;
    margin-top: auto;
    display: inline-block;
    nav{
        background-color: nth($colores,1);
        
        .derechos{
            color: nth($colores,2);
            font-size: small;
        }  
        .logos-sociales{
            img:last-child{
                max-width: 4.54vh;
                max-height: 4.54vh;
            }
        }
    }   
}