/*grid telefono*/
.contenedor{
    display: grid;
    min-height: 100vh;
    grid-template-areas:
    "header"
    "main "
    "section "
    "footer ";
    header{
        grid-area: header;
    }
    main{
        grid-area:main;
    }
    section{
        grid-area: section;
    }
    footer{
        grid-area: footer;
    }
}

