//import utitities
@import "utilities/listas";

/*headers*/
header{
    display: grid;
    grid-area: header;
    width: 100%;
    .marca{
        text-align: Center;
        font-size: 40px;
        font-weight: bold;
        color:nth($colores,2);
    }
    .fondo-color{
        background-color: nth($colores,1);
    }
    .logo-granlector{
        display: none;
    }
}