

/*headers*/
header{
    display: grid;
    grid-area: header;
    width: 100%;
    height: 60%;
    @extend %caligrafia;
    .fondo-color{
        background-color: nth($colores,1);
    }   
    .contenedor-header{
        .logo-granlector{    
            width: 70%;
            margin-left: 0.5rem;     
            img{
                max-width: 4.5rem;
                max-height: 4.5rem;
            }
        }
        .offcanvas{
            .offcanvas-body{ 
                background-color: #333;
                .cierre-canva{
                    display: flex;
                    justify-content: right;
                    button{
                        background-color:nth($colores,2);
                    }
                }
                ul{
                    li{
                        color: nth($colores,6);
                    }
                }
            }
        }
    }
}