//import utitities
@import "utilities/extend";

/*section*/
.eventos{
    @extend %margin;
    .img-eventos{
        display: flex;
        justify-content: end;
        img{
        border-radius: 10rem;
        max-width: 35%;
        max-height: 40%;
        }           
    }
}

/*section dudas*/
.dudas-frecuentes{
    @extend %margin;
    .mas-dudas{
            div{
                display: flex;
                justify-content: left;
                img{
                    max-height: 80%;
                    max-width: 80%;
                }
            }
    } 
}    
